body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	overflow-x: hidden;
	color: #161616;
}
#arrow img{
	width: 80%;
}
#arrow{
	display: none;
	position: fixed;
	z-index: 4;
	bottom: 20%;
	right: 3%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
section{
	margin-top: 100px;
}


.content2 img, #screen3 img{
	width: 100%;
}
.texts{
	padding-left: 3rem;
}
.team_text1{
	margin-top: 1.4rem;
	border-left: 2px solid #FB5012;
	padding-left: 1rem;
}
.team_text2{ 
	padding: .5rem 1rem;
	background: #FB5012;
	color: white;
	text-shadow: 0 4px 8px rgba(22,22,22,0.45);
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.team_text3{
	margin-top: 1rem;
	border-right: 2px solid #FB5012;
	padding-left: 1.5rem;
}

#screen3{
	background: url('../img/scr3.png')no-repeat center;
	background-size: cover;
	width: 100%;
	height: 660px;
}

#screen3 ul{
	color: white;
	font-size: 1.2em;
}
#screen3 span{
	margin-bottom: 1rem;
	padding-left: 1rem;
	font-size: 1.2em;
}
#screen3 li {
	list-style-type: none; 
}
#screen3 li::before {
    content: url('../img/marker.png');
    padding-right: 0.5em; 
}
#screen3 img{
	margin-top: 8rem;
}

#screen4 .reasons div{
	text-align: center;
}
.t-col p{
	width: 155px;
	margin: 0 auto;
}
#screen4 .reasons img{
	margin-top: 4rem;
	margin-bottom: 2rem;
}
#screen4 h2 div{
	display: inline-flex;
}
h5{
	font-size: 1.2em;
	color: #FB5012;
}
.bg_text{
	background-color: rgb(22, 22, 22, 0.6);
	color: white;
	margin-top: 50%;
	z-index: 2;
	width: 80%;
	padding: 20px;
}

#screen5{
	background: url('../img/scr5.png')no-repeat center;
	background-size: cover;
	width: 100%;
	height: 660px;
}
.attention{
	color: white;
	text-align: left;
}
.attention h2{
		color: #FB5012;
		margin-bottom: 0;	
		margin-top: 9rem;
}
#screen5 form{
	margin-top: 10rem;
	color: white;
	font-size: 18px;
}
#screen5 p{
	text-align: center;
	margin-bottom: 0;
}
form input, .btn{
	width: 100%;
	height: 3rem;
	margin-top: 25px;
}
form input{
	font-size: 16px;
	padding-left: 1.5rem;
	background: rgb(239,239,239,0.75);
	border: 2px solid rgb(22,22,22,0.4);
}
form input:focus{
	outline: 2px solid #FB5012;
}
form .btn{
	background: #FB5012;
	border: 2px solid rgb(202, 64, 14, 0.4);
	color: white;
	text-shadow: 0 4px 8px rgba(22,22,22,0.45);
}
form .btn:focus{
	outline: 2px solid white;
}


#screen6 .count{
	font-size: 1.2em;
	width: 30rem;
	margin: 0 auto;
	text-align: center;
}
.owl-theme .owl-dots{
    margin-top: 50px;
    border: none;
    text-align: center;
    box-shadow: none;
}
.modal-theme .owl-dots{
    margin-top: 10px;
    border: none;
    text-align: center;
    box-shadow: none;
}
.owl-theme .owl-dots button:focus{

	outline: none;
}
.owl-theme .owl-dots .owl-dot.active span{
	background: #FB5012;
}

.owl-carousel .owl-item img{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: -30px;
}
.modal-carousel .owl-item img{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: -30px;
}
.owl-carousel .owl-item a{
    box-shadow: 0 0 20px rgba(165, 0, 49, 0.7);
}
.owl-prev, .owl-next {
    background: none;
    position: absolute;
    top: 40%;
    width:45px;
}
.owl-prev:hover, .owl-next:hover, 
.owl-prev:active, .owl-next:active, 
.owl-prev:focus, .owl-next:focus{
    outline: none;
}
.owl-prev {
    left: -2rem;
}
.owl-next {
    right: -2rem;
}
.modal-theme .owl-prev{
	left: -1rem;
}
.modal-theme .owl-next{
	right: -1rem;
}
.title{
	position: absolute;
	bottom: 0;
	right: 10%;
	background: rgb(22,22,22,0.8);
	border-left: 2px solid #FB5012;
	color: white;
	text-shadow: 0 4px 8px rgba(22,22,22,0.45);
	text-align: right;
	padding: .4rem;
	width: 30%;
}
.title p{
	margin-bottom: 0;
}

#screen7{
	background: url('../img/scr7.png')no-repeat center;
	background-size: cover;
	width: 100%;
	height: 660px;
}
#screen7 img{
	height: 150px;
	margin-bottom: 40px;
}
#screen7 h2{
	margin-top: 7rem;
}
.content_scr7_2{
	display: none;
}
.content{
	text-align: center;
}
.box1{
	font-size: 16px;
	background: #161616;
	padding: 1rem .8rem .5rem .8rem;
	color: white;
	text-align: center;
}
.box2{
	font-size: 16px;
	background: white;
	padding: 1rem .8rem .5rem .8rem;
	color: #161616;
	text-align: center;
}

#screen8 .photo img{
	width: 80%;
} 
#screen8 .more{
	margin-top: 5rem;
	text-align: center;
}
#screen8 h2{
	width: 15rem;
	margin: 2rem auto;
}
.photo0{
	display: none;
}
.c1, .c3{
	position: absolute;
	left: 0;
}
.c2, .c4{
	position: absolute;
	right: 0;
}
.carpets{
	margin-top: -2rem;
	margin-left: 4rem;
}
.accessories{
	margin-left: 4rem;
}
.shutters{
	margin-top: -2rem;
	margin-left: -.5rem;
}

#screen9{
	background: url('../img/scr9.png')no-repeat center;
	background-size: cover;
	width: 100%;
	height: 630px;
}
#screen9 form{
	color: white;
	text-align: center;
	margin-top: 17%;
}
#screen9 h3{
	font-size: 1.5em;
}
#screen9 p{
	margin-bottom: 0;
}
.bg_text1{
	background-color: rgb(22, 22, 22, 0.6);
	position: absolute;
	z-index: 2;
	padding: 1.5rem;
	backdrop-filter: blur(3px);
}
footer{
	background: url('../img/footer.png')no-repeat;
	background-size: cover;
	margin-top: -10%;
	width: 100%;
	color: white;
	padding-top: 3%;
}
.logo{
	padding-top: 1rem;	
}
.logo img{
	height: 60%;
}
.logo .salon1{
	padding-left: .5rem;
	color: #FB5012;
	
}
.logo .salon{
	border-right: 1px solid #FB5012;	
}
.day{
	position: absolute;
	color: white;
	font-size: .9em;
	padding-left: 6rem;	
	padding-top: .8rem;
}
.center2{
	display: none;
}
.center p{
	width: 195px;
	text-align: center;
	margin: 0 auto;
	padding-top: 1.5rem;
}
.center p:nth-child(2){
	font-size: 12px;
}
.social{
	padding-top: 1rem;	
}
.social p{
	margin-bottom: .5rem;
	text-align: right;
}
.social a{
	color: white;
}
.social a:hover{
	color: #FB5012;
}
.social i{
	color: #FB5012;
}
.social2{
	display: none;
}
@media screen and (min-width: 1600px){
	body{
		font-size: 17px;
	}
}
@media screen and (max-width: 1199px){
	.container{
		max-width: 95%;
	}
	.title{
		width: 40%;
	}
}
@media screen and (max-width: 1099px){
	#screen8 .more {
		margin-top: 3rem;
	}
	#screen9{
		background: url('../img/scr9_1.png')no-repeat center;
	}
	.scr9{
		display: none;
	}
	#screen9 form{
		position: relative;
		width: 550px;
		margin: 30% auto;
	}
	footer{
		font-size: 12px;
	}
}
@media screen and (max-width: 991px){
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 28px;
	}
	.attention h2 {
		margin-top: 11rem;
	}
	.scr5_1{
		display: none;
	}
	#screen8 .more {
		margin-top: 0rem;
	}
	.team_text1 {
		margin-top: 0;
	}
	.scr3{
		display: none;
	}
	#screen3 img {
	    width: 80%;
	}
	h4{
		font-size: 18px;
	}
	.reason_offset{
		display: none;
	}
	.t-col p{
		width: 250px;
	}
	
	footer{
		font-size: 11px;
	}
	.logo img{
		height: 60%;
	}
	.salon1{
		display: none;
	}
	.day{
		font-size: 11px;
		padding-left: .5rem;
    	padding-top: 1rem;
	}
	.center p:nth-child(2){
		font-size: 10px;
	}
	#screen9 form{
		margin: 12% auto;
	}
}
@media screen and (max-width: 947px){
	footer{
		background: url('../img/footer1.png')no-repeat;
		background-size: cover;
		margin-top: -13%;
	}
	.center p {
		padding-top: 1.2rem;
	}
	#arrow img{
		width: 70%;
	}
	.social1{
		display: none;
	}
	.social2{
		margin-top: 3%;
		display: block;
	}
	.logo{
		display: none;
	}
	footer{
		font-size: 12px;
	}
	footer .center{
		display: none;
	}
	footer .center2{
		display: block;
		margin-top: 20px;
	}
	footer .center2, footer .social p{
		text-align: center;
	}


}
@media screen and (max-width: 864px){
	body{
		font-size: 12px;
	}
	#screen3 img {
		margin-top: 10rem;
	}
	.bg_text ul{
		padding-left: 0rem;
	}
	
	.t-col p {
	    width: 200px;
	}
	.pillows{
		margin-left: -1rem;
	}
	.carpets{
		margin-left: 3rem;
	}
	#screen7 img {
		height: 120px;
	}
	.box1 h4, .box2 h4{
		font-size: 16px;
	}
	.box1, .box2{
		font-size: 13px;
	}
	footer{
		margin-top: -15%;
	}
	footer .social{
		font-size: 10px;
	}
}
@media screen and (max-width: 767px){
	#arrow img{
		width: 60%;
	}
	#arrow{
		bottom: 15%;
		right: 2%;
	}
	h1{
		padding-top: 1.7rem;
	}
	.attention h2 {
		margin-top: 10rem;
	}
	.bg_text{
		margin-top: 60%;
	}
	#screen3 img {
		margin-top: 12rem;
	}
	#screen5 form {
		font-size: 16px;
	}
	.offer{
		display: none;
	}
	.photo1{
		margin-top: 0;
	}
	.texts{
		margin-top: 2.5rem;
	}
	.girls{
		display: none;
	}
	.scr5_2{
		display: none;
	}
	.photo2{
		display: none;
	}
	#screen8 .more {
	    margin-top: 3rem;
	}
	.center p{
		padding-left: 3rem;
	}
	#screen9 form{
		width: 500px;
		margin: 17% auto;
	}
}
@media screen and (max-width: 700px){
	.phone a{
    	font-size: 12px;
    }
}
@media screen and (max-width: 575px){
	.modalDialog > div {
    	width: 450px;
    	margin: 4% auto;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 24px;	
	}
	nav{
		padding-top: 0.9rem;
	}
	.lg img, .nav img {
		height: 70%;
	}
	.bg_text{
		position: relative;
		width: 80%;
		margin: 35% 10%;
	}
	.photo01{
		display: none;
	}
	.ldm{
		display: none;
	}
	#screen5 form {
		font-size: 14px;
		margin-top: 12rem;
	}
	#screen3 .ldm{
		margin-top: 15%;
	}
	#screen4 h2{
		margin-bottom: 0;
	}
	.attention h2{
		margin-top: 4rem;
	}
	.attention h4{
		text-align: center;
		font-size: 16px;
	}
	.attention ol{
		font-size: 13px;
	}
	#screen5 form {
		margin-top: 2rem;
	}
	#screen6 .count {
		width: 400px;
	}
	#screen7 h2 {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	#screen7 img {
		height: 100px;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.content{
		display: none;
	}
	.content_scr7_2{
		display: block;
	}
	.boxes{
		display: inline-flex;
		justify-content: center;
		margin-top: 30px;
	}
	.box1, .box2{
		font-size: 12px;
		width: 300px;
		height: 100%;
	}
	.box1{
		margin-left: 10%;
	}
	.box2{
		margin-right: 10%;
	}
	#screen8 .more {
	    margin-top: 0;
	}
	#screen8 h2 {
    	width: 12rem;
	    padding-top: 10px;
	}
	.title{
		width: 30%;
	}
	.title p{
		font-size: 16px;
	}
	#screen9 form{
		width: 420px;
		margin: 23% auto;
	}
	.logo{
		display: none;
	}
	form input, form .btn{
		font-size: 13px;
	}
	#screen9 form input, #screen9 form .btn{
		font-size: 14px;
	}
	
}
@media screen and (max-width: 475px){
	.modalDialog > div {
    	width: 400px;
	}
	.title p{
		font-size: 12px;
	}
	.photo1{
		display: none;
	}
	.photo0{
		display: flex;
		justify-content: center;
	}
	.pillows0{
		padding-bottom: 2rem;
	}
	.accessories0{
		padding-top: 4rem;
	}
	#screen8 h2 {
    	width: 60%;
	}
	#screen9 form{
		width: 350px;
		margin: 23% auto;
	}
	#screen6 .count {
		width: 300px;
	}
}
@media screen and (max-width: 450px){
	.modalDialog > div {
    	width: 350px;
	}
	.box1 h4, .box2 h4 {
		font-size: 14px;
	}
	.box1, .box2{
		width: 250px;
	}
	.bg_text{
		position: relative;
		width: 100%;
		margin: 45% 0;
	}
	#screen7 img {
	    height: 80px;
	    margin-top: 2rem;
	}
	#screen4 h2 div{
	    width: 180px;
	}
	#screen4 h2 img{
		padding-top: 20px;
	}
}
@media screen and (max-width: 390px){
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	#screen6 .count {
	    width: 200px;
	}
	.box1 p, .box2 p{
		font-size: 11px;
	}
	
}
@media screen and (max-width: 375px){
	.modalDialog > div {
    	width: 330px;
	}
	.box1, .box2 {
	    width: 220px;
	}
	.box1{
		margin-left: 5%;
	}
	.box2{
		margin-right: 5%;
	}
	#screen9 form{
		width: 300px;
		margin: 23% auto;
	}
	#screen5 form {
	    margin-top: 1rem;
	}
}
@media screen and (max-width: 340px){
	.modalDialog > div {
    	width: 300px;
	}
	.attention h2 {
	    margin-top: 2rem;
	}
	#screen7 img {
	    height: 60px;
	}
	#screen4 h2 div{
	    width: 150px;
	}
}