body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #383334;
	overflow-x: hidden;
}
h1{
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 30px;
}
h2{
	width: 300px;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 44px;
}
h3{
	font-size: 34px;
	margin-bottom: 40px;
}
h4{
	font-size: 24px;
}
header{
	background: url("../img/screen1/background.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 120vh;
}

.logo span{
	font-size: 22px;
	font-weight: 900;
	position: absolute;
	padding-top: 30px;
	margin-left: 8px;
}
.orange1{
	margin-left: 220px;
	padding-top: 15px;
}
.green1{
	padding-top: 40px;
}
.circle_back{
	position: absolute;
	z-index: 0;
	left: -38%;
	top: 2%;
}
.grass{
	position: absolute;
	z-index: 1;
	right: 30px;
	bottom: 55px;
}
.legs{
	position: absolute;
	z-index: 1;
	top: -12%;
	left: -50%;
}
.first{
	position: absolute;
	z-index: 2;
	left: -19%;
	bottom: 10px;
}
.first p{
	font-size: 34px;
	font-weight: 900;
	background: #ff6b00;
	color: white;
	width: 110px;
	padding: 3px 5px 3px 11px;
	border: none;
	border-radius: 8px;
	position: absolute;
	z-index: 3;
	right: -15px;
	top: -25px;
}
.first img, .second img{
	margin-top: -6px;
}
.second{
	position: absolute;
	z-index: 4;
	bottom: -35px;
}
.second p{
	font-size: 34px;
	font-weight: 900;
	background: #a7c93d;
	color: white;
	width: 110px;
	padding: 3px 5px 3px 11px;
	border: none;
	border-radius: 8px;
	position: absolute;
	z-index: 3;
	right: -15px;
	top: -25px;
}
.third{
	position: absolute;
	z-index: 5;
	right: -60px;
	bottom: -125px;
}
.pills{
	position: absolute;
	z-index: 3;
	left: -32%;
	bottom: -52px;
}
.bullets div{
	display: inline-block;
	width: 200px;
	margin-top: 24px;
}
.bullets div:nth-child(2){
	width: 150px;
	margin-left: 35px;
	margin-right: 25px;
}
.bullets span{
	position: absolute;
	padding-left: 10px;
	width: 178px;
	color: #666666;
	font-size: 16px;
	font-style: italic;
	line-height: 1.1;
}
.in{
	border-bottom: 3px solid #ff6b00;
	display: inline-block;
  	line-height: 0.85;
}
.out{
	border-bottom: 3px solid #a7c93d;
	display: inline-block;
  	line-height: 0.85;
}
b{
	color: #000;
	font-weight: 500;
}
.steps div{
	color: #444;
	margin-top: 40px;
} 
.steps p{
	display: inline-block;
	margin-left: 80px;
}
.steps img{
	position: absolute;
	margin-top: 95px;
	margin-left: 25px;
}
.steps .arr2{
	padding-top: 35%;
}
.circles2{
	text-align: center;
	margin-bottom: 30px;
}
.gr_crcl{
	font-size: 20px;
	position: absolute;
	margin-top: 11px;
	margin-left: -5px;
	background: #a7c93d;
	padding: 12px 21px;
	border: 6px solid #e8edc9;
	border-radius: 100%;
	color: #fff;
}
.gr{
	padding: 12px 11px ;
}
.gr3{
	margin-top: 18px;
}
.delivery{
	background: url("../img/screen1/phone_delivery0.png") no-repeat;
	background-size: 100%;
	margin-top: 55px;
}
.del_photo{
	position: absolute;
	z-index: 0;
}
.delivery p.sale{
	width: 170px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	margin: 20px auto 5px;
	line-height: 1;
}
.delivery span.orange{
	color: #ff6b00;
}
.car{
	color: #444;
	font-size: 16px;
	margin-left: 28%;
}
.old_price,
.new_price{
	display: inline-block;
	text-align: center;
}
.old_price{
	margin-left: 30px;
}
.new_price{
	margin-left: 17px;
}
.old1{
	font-size: 14px;
	font-weight: 400;
	color: #666;
	margin-bottom: 0;
}
.old2{
	color: #0b0b0b;
	font-weight: 300;
	font-size: 34px;
}
.cross{
	position: absolute;
	margin-top: -53px;
	margin-left: -45px;
}
.new1{
	font-size: 14px;
	font-weight: 400;
	color: #000;
	margin-bottom: 0;
}
.new2{
	background: #ffcb02;
	border: none;
	border-radius: 3px;
	padding: 0 8px;
	color: #000;
	font-weight: 900;
	font-size: 34px;
}
form{
	margin-left: 20px;
}
form input{
	background: #eef2f7;
	padding: 14px 50px;
	border: none;
	border-radius: 35px;
	width: 218px;
	height: 65px;
	margin-bottom: 10px;
}
input[type="img1"]{
	position: absolute;
	padding: 0;
	width: 30px;
    height: 30px;
    margin-top: 17px;
    margin-left: 10px;
    border: none;
    background: url("../img/screen1/name.png") no-repeat 50% 50%; /* Параметры фона */
}
input[type="img2"]{
	position: absolute;
	padding: 0;
	width: 30px;
    height: 30px;
    margin-top: 17px;
    margin-left: 13px;
    border: none;
    background: url("../img/screen1/phone.png") no-repeat 50% 50%; /* Параметры фона */
}
button{
	margin-top: 5px;
	background: #ffc002;
	padding: 14px 50px;
	border: none;
	border-radius: 35px;
	width: 218px;
	height: 70px;
	color: #000;
	font-weight: 900;
	font-size: 22px;
	line-height: 0.8;
}
.order span{
	font-size: 16px;
}
.last{
	color: #333;
	width: 190px;
	margin: 13px auto 15px;
	text-align: center;
	line-height: 1;
}
.last span{
	color: #9dbd39;
}
.safe{
	text-align: center;
	font-size: 14px;
	color: #666;
}

.green2{
	padding-top: 40px;
}
.gribok{
	text-align: center;
}
.reaction span.num{
	margin-left: -30px;
	font-size: 30px;
	font-weight: 400;
	background: #ec9a6a;
	padding: 9px 20px;
	border: none;
	border-radius: 100%;
}
.reaction span.react_text{
	position: absolute;
	margin-top: 60px;
	font-weight: 500;
	font-size: 22px;
}
.react_img{
	position: absolute;
	z-index: -1;
	margin-left: -192px;
	margin-top: 22px;
}
.reaction hr{
	margin: 110px auto 20px 0;
	border: 1px solid #becbd8;
	width: 50px;
}
.reaction p{
	width: 300px;
	color: #444444;
	font-size: 18px;
}
.statistics p{
	margin-top: 70px;
	padding: 40px 90px;
	border: 2px solid #f4d3bb;
	border-radius: 10px;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
}
.statistics p span{
	color: #000;
	font-weight: 500;
}
.white_line{
	position: absolute;
	margin-top: 65px;
	left: 43%;
}
.stat{
	position: absolute;
	margin-top: 55px;
	left: 48%;
}
@media screen and (max-width: 991px){
	.white_line{
		left: 40%;
	}
}
@media screen and (max-width: 767px){
	header{
		height: 1800px;
	}
	.logo div{
		width: 200px;
		margin: 0 auto;
	}
	.orange1{
		margin-left: 0;
	}
	.bullets div{
		display: block;
		margin: 15px auto;
	}
	.bullets div:nth-child(2) {
	    width: 150px;
	    margin: 15px auto;
	    padding-left: 5px;
	}
	.leg_pills{
		height: 350px;
		text-align: center;
	}
	.legs{
		display: none;
	}
	.circle_back{
		position: relative;
		left: 0;
		top: 0;
		width: 80%;
		padding-top: 2%;
		padding-left: 10%;
	}
	.grass{
		width: 50%;
		bottom: 10px;
		right: 0;
	}
	.miko1,
	.miko2, .third{
		width: 60%;
	}
	.pills{
		width: 25%;
		left: 10%;
		bottom: 0;
	}
	.first{
		top: 40%;
		left: 0;
	}
	.first p{
		right: 40px;
	}
	.second{
		top: 70%;
		left: 13%;
	}
	.second p{
		right: 40px;
	}
	.third{
		right: 5px;
		bottom: -100px;
	}
	.steps .arr1, .steps .arr2{
		margin-left: 78px;
	}
	.steps .arr2{
		padding-top: 27%;
	}
	.delivery {
	    background: url(../img/screen1/phone_delivery0.png) no-repeat center;
	    background-size: 300px 100%;
	    
	    width: 80%;
	    margin: 55px auto;
	}
	.car {
	    width: 126px;
	    margin: 0 auto;
	}
	.price{
		width: 210px;
		margin: 0 auto;
	}
	.old_price{
		margin-left: 0;
	}
	form {
	    width: 70%;
	    margin: 0 auto;
	    text-align: center;
	}
	.text{
		margin-top: 10vh;
	}
	.text h2{
		width: 300px;
		margin: 50px auto 0;
	}
	.text h3{
		width: 300px;
		margin: 0 auto 40px;
	}
	.reaction div{
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	.white_line{
		left: 38%;
	}
	.steps div{
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	.circles2 {
		margin-top: 50px;
	}
}
@media screen and (max-width: 575px){
	.white_line {
	    left: 35%;
	}
	.stat{
		left: 46%;
	}
}
@media screen and (max-width: 532px){
	.steps .arr1{
	    margin-top: 20%;
	}
	.steps .arr2{
		padding-top: 32%;
	}
}
@media screen and (min-width:475px) and (max-width: 510px){
	header{
		height: 1900px;
	}
}
@media screen and (max-width:475px){
	header{
		height: 1900px
	}
	.third{
		bottom: -50px;
	}
}
@media screen and (max-width:380px){
	.steps div{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	.reaction div{
		width: 100%;
	}
	.reaction span.react_text {
		font-size: 18px;
	}
}

