body{
	font-family: PT Serif Caption;
	color: #161616;
	font-size: 18px;
}
.header{
	background: url('../img/head.jpg') center no-repeat;
}
h1, h2, h3, h4{
	font-family: PT Serif;
	font-weight: bold;
	color: #161616;
}
section{
	margin-top: 8%;
}
.btn{
	font-family: PT Serif Caption;
	background: #FB5012;
	padding: 13px 55px;
	display: block;
	text-align: center;
	border: none;
	border-radius: 0;	
	color: #161616;
	font-size: 18px;
	box-shadow: 0px 4px  11px rgb(0, 0, 0, 0.25);
}
.proj__text2{
	margin-top: 3%;
}
.logo{
	width: 100%;
	margin-top: 20%;
	margin-bottom: 20%;
}
.navig{
	display: flex;
	justify-content: center;

}
.menu{
	display: none;
}
.header__link{
	color: white;
	font-size: 16px;
	padding-top: 5%;
	margin-left: 2%;
	margin-right: 2.5%;
}
.header__link:hover{
	text-decoration: none;
	color: #999999;
}
.call{
	display: flex;
	justify-content: flex-end;
}
.numb{
	padding-top: 15%;
	color: white;
	font-size: 16px;
	margin-left: 2%;
	margin-right: 2.5%;
}
.horiz{
	border: none; 
    background-color: #161616; 
    height: 2px; 
}
.head{
	text-align: center;
	width: 70%;
	margin-bottom: 10%;
}
.process_img{
	height: 145px;
	width: 145px;
	margin: 25px 50px 50px 50px;
}
.people{
	background: #FB5012;
	height: 165px;
	width: 165px;
	padding: 10px;
	margin: 20px 30px 30px 30px;
}
.three_p{
	font-size: 19px;
	font-weight: bold;
}
.text1{
	padding: 15px 20px;
	width: 40%;
}
.text2{
	padding: 15px 20px;
	background: #303030;
	color: white;
	width: 40%;
}
.btn{
	font-family: PT Serif Caption;
	background: #FB5012;
	padding: 13px 55px;
	display: block;
	text-align: center;
	border: none;
	border-radius: 0;	
	color: #161616;
	font-size: 18px;
	font-family: PT Serif Caption;
	margin-top: 30px;
	margin-bottom: 6%;
	box-shadow: 0px 4px  11px rgb(0, 0, 0, 0.25);
}
.proj__text2{
	width: 35%;
	text-align: center;
}
.footer{
	position: fixed;
	background: url('../img/footer.jpg') no-repeat center;
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 7%;
}
.footer__phone{
	padding-top: 1%;
}
.footer__map{
	text-align: center;
	padding-top: 1%;
}
.footer__text{
	color: #FB5012;
	font-size: 17px;
	margin-top: 2%;
}
.footer__text1{
	color: #FB5012;
	font-size: 17px;
	margin-top: 2%;
}
.footer__p{
	color: white;
	font-size: 14px;
	margin-top: 3%;
}
.footer__p1{
	color: white;
	font-size: 14px;
}
.footer__mail{
	text-align: right;
	padding-top: 4%;
}
.footer__map{
	padding-top: 4%;
}
.footer__phone{
	padding-top: 4%;
}
.foot{
	margin-top: 0;
	text-align: center;
}
@media screen and (max-width: 1200px){
	.head{
		width: 90%;
	}
	.header__link{
		font-size: 14px;
	}
	.numb{
		font-size: 14px;
	}
}
@media screen and (max-width: 992px){
	.container{
		max-width: 90%;
	}
	.logo{
		margin-top: 10px;
		height: 55px;
		width: 55px
	}
	.head{
		font-size: 30px;
		width: 70%;
	}
	.header__link{
		font-size: 12px;
		margin-bottom: 2%;
	}
	.numb{
		font-size: 12px;
	}
	.footer__text, .footer__text1{
		font-size: 14px;
	}
	.footer__p,.footer__p1{
		font-size: 12px;
	}
}
@media screen and (max-width: 767px){
	p{
		font-size: 14px;
	}
	.container{
		max-width: 90%;
	}
	.numb{
		background: #FB5012;
		padding: 13px 20px;
		margin-top: 15px; 
		font-size: 12px;
	}
	.process_img{
		height: 105px;
		width: 105px;
	}
	.people{
		height: 125px;
		width: 125px;
	}
	.navig{
		display: none;
	}
	.menu{
		display: flex;
		justify-content: flex-end;
	}
	.head{
		font-size: 24px;
		width: 80%;
	}
	.three_p{
		font-size: 15px;
	}
	.btn{
		padding: 10% 10%;
		font-size: 14px;
	}
	.footer{
		background: url('../img/footer_t.png') no-repeat center;
	}
	.footer__phone, .footer__map, .footer__mail{
		display: flex;
		justify-content: flex-start;
		text-align: left;
	}
	.footer__text, .footer__text1{
		font-size: 12px;
	}
	.footer__p,.footer__p1{
		font-size: 10px;
	}
	.phone{
		height: 80%;
		margin-right: 30px;
	}
	.map{
		height: 55%;
		margin-right: 2%;
		margin-left: 1%;
	}
	.mail{
		height: 80%;
		margin-right: 20px;
	}
	.footer__text1{
		margin-left: 20px;
	}
	.footer_p{
		margin-top: 5%;
	}

@media screen and (max-width: 575px){
	p{
		font-size: 11px;
	}
	.head{
		font-size: 20px;
		width: 80%;
	}
	.process_img{
		height: 105px;
		width: 105px;
		margin: 25px 30px 50px 30px;
	}
	.people{
		height: 125px;
		width: 125px;
		margin: 20px 30px 30px 10px;
	}
	.text1{
		width: 60%;
	}
	.text2{
		width: 60%;
	}
}
@media screen and (max-width: 330px){
	p{
		font-size: 11px;
	}
	.head{
		font-size: 18px;
		width: 80%;
	}
	.numb{
		font-size: 11px;
	}

}